<div
  class="my-5 mx-auto d-flex flex-column"
  style="width: 340px; height: 550px;"
>
  <h2 class="text-white pb-5">作息</h2>

  <div class="progress">
    <div
      *ngFor="let item of genProgressBar(schedule); let id = index"
      class="progress-bar progress-bar-striped progress-bar-animated text-right"
      role="progressbar"
      [ngStyle]="{width: item.duration * 100 / 24 + '%'}"
      [ngClass]="{
        '': item.status === '睡眠',
        'bg-success': item.status === '吃',
        'bg-warning': item.status === '禁食'
      }"
      [class.aria-valuenow]="item.duration"
      aria-valuemin="0"
      aria-valuemax="24"
    >{{ item.time | date: 'HH:mm': '+0000' }}&nbsp;&nbsp;</div>
  </div>

  <div>
    <app-event-item
      *ngFor="let item of schedule; let id = index"
      [status]=""
      [time]="item.time"
      [title]="item.title"
      (timeEvent)="changeTime(id, $event)"
    ></app-event-item>
  </div>

    <div class="mt-3 mx-auto text-white">
      <span class="badge badge-success mr-1">吃</span> {{ calcType(genProgressBar(schedule), '吃') }} 小時
      <span class="badge badge-warning mr-1 ml-3">禁食</span> {{ calcType(genProgressBar(schedule), '禁食') }} 小時
      <span class="badge badge-primary mr-1 ml-3">睡眠</span> {{ calcType(genProgressBar(schedule), '睡眠') }} 小時
    </div>

  <button class="ui inverted teal button mt-auto" (click)="doNextPage()">下一步</button>
</div>
