<div class="bg-dark" [ngClass]="{ 'h-0 overflow-hidden': isOpen }">
  <div id="meal-list">
    <app-meal-item
      *ngFor="let item of mealList"
      [title]="item.title"
      [slogan]="item.slogan"
      [cover]="item.cover"
      [time]="item.createAt"
      [user]="item.user"
      (contentEvent)="setContent($event)"
    ></app-meal-item>

    <div class="mx-3 mx-sm-5 my-4">
      <button class="ui fluid inverted teal button py-4 rounded-my" [routerLink]="['/meal/new']">
        <i class="teal plus icon"></i>
        新增食譜
      </button>
    </div>
  </div>
</div>
