<div
  class="fixed-top d-flex align-items-center justify-content-center w-100 bg-tabbar"
  style="box-shadow: 0px -5px 3px #1a191966"
>
  <button
    class="btn d-flex flex-column justify-content-center p-3 text-white"
    [routerLink]="['/calendar']"
  >
    <i
      class="inverted large calendar alternate outline icon"
      [ngClass]="{'teal': url === '/calendar'}"
    ></i>
  </button>

  <button
    class="btn d-flex flex-column justify-content-center p-3 text-white"
    [routerLink]="['/diet']"
  >
    <i
      class="inverted large users icon"
      [ngClass]="{'teal': url === '/diet'}"
    ></i>
  </button>

  <button
    class="btn d-flex flex-column justify-content-center p-3 text-white"
    [routerLink]="['/meal']"
  >
    <i
      class="inverted large utensils icon"
      [ngClass]="{'teal': url === '/meal'}"
    ></i>
  </button>

  <button
    class="btn d-flex flex-column justify-content-center p-3 text-white"
    [routerLink]="['/user']"
  >
    <i
      class="inverted large user icon"
      [ngClass]="{'teal': url === '/user'}"
    ></i>
  </button>
</div>
<div class="" style="height: 3.5rem;"></div>
