<div class="ui inverted card fluid rounded-my">
  <div class="d-flex align-items-center content text-white">
    <img
      class="ui avatar image"
      src="https://fomantic-ui.com/images/avatar/large/elliot.jpg"
    />
    <p class="m-0 pl-2 text-white font-weight-bold">{{ user }}</p>

    <div class="ml-auto meta">
      <div class="ui mini statistic">
        <div class="value m-0 text-white text-right">
          {{ time.toDate() | date: 'HH:mm' }}
        </div>
        <div class="label m-0 text-white-50 text-right font-weight-lighter text-capitalize">
          {{ time.toDate() | date: 'EEE. MM/dd' }}
        </div>
      </div>
    </div>
  </div>
  <a data-fancybox="gallery" [href]="image">
    <div
      class="bg"
      style="height: 20rem;"
      [style.backgroundImage]="'url(' + image + ')'"
    ></div>
  </a>

  <div class="content">
    <a class="header">{{ title }}</a>
    <div class="description">{{ description }}</div>
  </div>
</div>
