<div [ngClass]="{ 'mx-3 mx-sm-5 my-4': !isOpen, 'position-absolute t-0 l-0 r-0 z-1000': isOpen }">
  <div
    class="bg position-relative h-cover"
    style=""
    [ngClass]="{ 'rounded-my-top': !isOpen }"
    [style.backgroundImage]="'url(' + cover + ')'"
    (click)="isOpen = !isOpen; toggleList(isOpen);"
  >
    <div
      [ngClass]="{ 'rounded-my-top': !isOpen }"
      class="position-absolute t-0 r-0 w-100 pt-2 pl-3 d-flex align-items-center"
      style="padding-bottom: 5rem; background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,0))"
    >
      <img
        class="ui avatar image"
        src="https://fomantic-ui.com/images/avatar/large/elliot.jpg"
      />
      <div>
        <p class="m-0 pl-2 text-white font-weight-bold">{{ user }}</p>
        <small class="m-0 pl-2 text-white-50">
          {{ time | date: 'yyyy-MM-dd' }}
        </small>
      </div>
    </div>
  </div>

  <div [ngClass]="{ 'rounded-my-bottom': !isOpen }" class="p-3" style="background-color: #454f51;">
    <h3 class="text-white font-weight-bold m-0 pr-3">{{ title }}</h3>
    <p class="text-white-50">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white">{{ slogan }}</p>
    <p *ngIf="isOpen" class="text-white" style="padding-bottom: 5rem;">{{ slogan }}bvbvcbcbcvdd  </p>
  </div>
</div>

<!--  -->
