<div class="row no-gutters my-3 align-items-center">
  <div class="col-4">
    <div class="text-center">
      <!-- <h5 class="text-white m-0">{{ time }}</h5> -->
      <select class="inverted ui dropdown text-white m-0 input-dark border-0" name="" id="">
        <option *ngFor="let item of timeList" [value]="item">{{ item }}</option>
      </select>
      <!-- <p class="text-white m-0">{{ status }}</p> -->
    </div>
  </div>
  <div class="col-8">
    <h4 class="text-white m-0">{{ title }}</h4>
  </div>
</div>
