<div class="my-5 mx-auto d-flex flex-column" style="width: 340px; height: 550px;">

  <h2 class="text-white pb-5">登入</h2>

  <form class="ui inverted form">
    <div class="field">
      <label>使用帳號</label>
      <input
        type="text"
        class="input-dark w-fill"
        name="first-name"
        placeholder="登入 ID"
        [(ngModel)]="user"
      />
    </div>
    <div class="field">
      <label>體重</label>
      <input
        type="number"
        class="input-dark w-fill"
        name="last-name"
        placeholder="體重 kg"
        [(ngModel)]="weight"
      />
    </div>
    <div class="field">
      <label>目標</label>
      <input
        type="number"
        class="input-dark w-fill"
        name="last-name"
        placeholder="目標 kg"
        [(ngModel)]="target"
      />
    </div>
  </form>

  <button class="ui inverted teal button mt-auto" (click)="doSubmit()">下一步</button>

</div>
