<div class="fixed-bottom d-flex align-items-center justify-content-around w-100 bg-tabbar pb-3">

  <button class="btn d-flex flex-column justify-content-center p-3 text-white">
    <i class="large calendar alternate outline icon"></i>
  </button>
  <button class="btn d-flex flex-column justify-content-center p-3 text-white">
    <i class="large users icon"></i>
  </button>
  <button class="btn d-flex flex-column justify-content-center p-3 text-white">
    <i class="large utensils icon"></i>
  </button>
</div>
