<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="bg-dark m-3">

      </div>
    </div>
    <div class="carousel-item">
      <div class="bg-dark m-3"></div>
    </div>
    <div class="carousel-item">
      <div class="bg-dark m-3"></div>
    </div>
  </div>

</div>
